<div class="searchbar" ng-controller="IndexCtrl">
  <form>
    <div class="small-12 columns">
      <div class="small-4 small-offset-4 columns">
        <div class="row collapse">
          <div class="small-9 columns">
            <input ng-model="locale" id="city" type="text" 
              onkeypress="return event.keyCode != 13" 
              placeholder='Find live events e.g San Francisco, CA'  />
          </div> 
          <div class="small-3 columns">
            <a href="#/venues/{{ locale }}" class="button postfix" id="submit"><i class="fa fa-search fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

