<form id='searchbar'>
  <input id="city" type='search' placeholder='Find live events near you e.g San Francisco, CA'>
  <input type='submit' value="Search">
</form>


<div class=" small-12 columns">
  <ul class="polaroids large-block-grid-4 small-block-grid-2" id="searchResults">
 
  </ul>
</div>