<div style="margin: 200px auto; text-align:center;">
  <form id='search'>
    <input id="location" type='search' placeholder='e.g 94108' style= "width:200px;">
    <input id="submit" type='submit' value="Search">
  </form>
  <div id="out"></div>
  <button id="findMe">Use my current location</button>
</div>

<p id="helloworld"></p>




<button id="hello">Show map</button>