<div class="searchbar small-5 columns">
  <form>
    <input id="city" type="text" placeholder='Find live events near you e.g San Francisco, CA'>
    <input type='submit' value="Search">
  </form>
</div>

<div class=" small-12 columns">
  <ul class="polaroids large-block-grid-4 small-block-grid-2" id="searchResults">
 
  </ul>
</div>

