<div class="mosaic-row">
  <div class="cell cell-12">
    <input id="city" type="text" onkeypress="return event.keyCode != 13" placeholder='Find live events e.g San Francisco, CA'  />
    <a href="" class="button postfix" id="submit"><i class="fa fa-search fa-lg"></i></a>
  </div>
</div>


