<form id='search'>
  <input id="city" type='search' placeholder='e.g San Francisco, CA'>
  <input type='submit' value="Search">
</form>

<div class=" small-12 columns polaroidPictures">
  <ul id="searchResults">
   
  </ul>
</div>


