
<div id="map-canvas" style="width:100%; height 300px;"><div>
<div id='localeResults'>
<ul>
  <li>
  {{name}}
  <form class='venue'>
  <input class='venueId' type=hidden value={{id}}>
  <input type=submit>
  <form>
  </li>
</ul>
</div>

