
<div id="map-canvas" style="width:100%; height 300px;"><div>
<div id='localeResults'>
<ul>
  <li>
  {{name}}
  <form class='venue'>
  <input type=hidden>
  <input class='venueId' type=submit value={{id}}>
  <form>
  </li>
</ul>
</div>

