<a id="{{venueId}},{{name}}">
  <img alt="No Image Available" src="{{image_url}}">
  <div class="venue-info">
    <h3>{{name}}</h3>
    <h5><i class="fa fa-calendar"></i> July 15, 2014</h5>
    <h5><i class="fa fa-map-marker"></i> City, State</h5>
  </div>
</a>


