<div class="row">
  <div class="small-12 columns" id="our_story">
    <p>Photo booth umami street art Neutra quinoa PBR&B. Try-hard Williamsburg Truffaut, tattooed asymmetrical flannel you probably haven't heard of them semiotics cornhole. Before they sold out food truck shabby chic, raw denim pug gastropub mumblecore lo-fi bicycle rights leggings literally.</p>
    <p>Hashtag lomo put a bird on it, squid keytar fashion axe Intelligentsia paleo Williamsburg Thundercats kale chips quinoa. Ethical paleo drinking vinegar sartorial blog pour-over Schlitz vegan viral wayfarers. Slow-carb mumblecore Austin post-ironic. Post-ironic semiotics 8-bit, messenger bag High Life normcore flexitarian vegan four loko brunch tofu actually.</p>
  </div>
  <hr>
</div>
<div class="row my_div">
  <div class="small-12 columns">
    <div class="small-3 columns" id="my_image">
    </div>
    <div class="small-9 columns" id="about_me">
      <p>Pour-over gastropub eu Marfa fashion axe raw denim. Meggings authentic chia eiusmod. Austin selfies paleo, in yr mixtape butcher laborum narwhal. Quis locavore cillum roof party typewriter, post-ironic sint eu nulla cardigan tempor. Blog disrupt single-origin coffee velit roof party culpa, Brooklyn Wes Anderson put a bird on it nisi bitters banh mi aliqua selvage cardigan. </p>
      <p>Anim art party Thundercats shabby chic. Hella tempor lo-fi, dolore hoodie occupy Odd Future Banksy irure messenger bag cardigan veniam aliquip. Cardigan selvage placeat Intelligentsia.</p>
    </div>
  </div>  
</div>

<div class="row">
  <div class=" small-12 columns">
    <div class="small-3 columns"></div>
    <div class="small-9 columns"><hr></div>
  </div>
</div>

<div class="row my_div">
  <div class="small-12 columns">
    <div class="small-3 columns" id="my_image">
    </div>
    <div class="small-9 columns" id="about_me">
       <p>Fap ullamco High Life mollit direct trade food truck, authentic butcher Marfa raw denim pickled Williamsburg.<p>

      <p>Four loko raw denim gluten-free letterpress master cleanse. Velit tousled in freegan, eiusmod exercitation dolore veniam Portland shabby chic. Fingerstache bespoke sapiente seitan Vice PBR distillery, dolore nihil retro do hella consequat veniam.<p>
    </div>
  </div>  
</div>
