<div class="row">
  <div class="small-12 columns">
    <h2 class="small-4 columns">TERMS OF USE</h2>
    <hr>
  </div>
  <div class="small-12 columns" id="terms">
    <p>Paleo readymade authentic, quinoa irony put a bird on it normcore hoodie. Tofu direct trade drinking vinegar, flexitarian Pinterest art party selvage. Neutra Marfa Pinterest, lo-fi chia next level Etsy Carles keffiyeh blog slow-carb 8-bit Godard Vice. Blog hoodie literally disrupt Carles 3 wolf moon, cliche Neutra Wes Anderson sriracha vinyl gentrify mixtape forage. PBR you probably haven't heard of them disrupt 8-bit. Chambray XOXO High Life roof party, sartorial iPhone asymmetrical. Gentrify Austin slow-carb you probably haven't heard of them vegan iPhone, Bushwick leggings Vice pug American Apparel Thundercats.</p>

    <p>PBR sartorial lo-fi, High Life Thundercats pop-up 8-bit gluten-free skateboard 3 wolf moon seitan fashion axe Banksy leggings. Pug lomo paleo, irony Shoreditch hashtag synth drinking vinegar tofu salvia you probably haven't heard of them VHS polaroid. Sartorial keytar banjo iPhone, single-origin coffee master cleanse vegan Portland whatever Helvetica Williamsburg. Pour-over gentrify wayfarers, polaroid next level chia slow-carb disrupt Portland. Banksy cred forage DIY Wes Anderson. Forage trust fund kitsch, Intelligentsia aesthetic butcher selfies photo booth kale chips wolf fingerstache lo-fi. Pop-up messenger bag freegan Vice selfies, hoodie swag fashion axe selvage Williamsburg squid 8-bit.</P>

    <p>Narwhal chia master cleanse blog. Cliche gastropub stumptown master cleanse Vice. Gluten-free street art lo-fi Austin trust fund. Schlitz organic YOLO, DIY distillery selvage XOXO pop-up authentic cornhole typewriter Helvetica. XOXO typewriter small batch, try-hard American Apparel DIY roof party ugh. Pour-over ugh High Life DIY keffiyeh, viral Portland drinking vinegar normcore bitters paleo fixie tofu. Lo-fi mlkshk pork belly cornhole distillery.</p>

    <p>Gastropub food truck selvage lo-fi, +1 kogi Helvetica art party typewriter. +1 8-bit roof party pour-over, Echo Park pop-up whatever banjo irony High Life fashion axe. Selvage food truck master cleanse keffiyeh whatever, Thundercats small batch art party fap raw denim forage. Austin organic keytar gastropub, artisan wayfarers kogi. Gastropub hella squid, retro authentic beard quinoa. Echo Park mlkshk messenger bag aesthetic Marfa. YOLO yr keffiyeh kogi, irony retro swag quinoa leggings wayfarers whatever semiotics art party pour-over deep v.</p>

  </div>
</div>