/********* HEADER.html.erb *************/

.header {
  margin-top: -30px;
  margin-bottom: 50px; 
  height: 100px;
  margin-left: 25px;
}

#logo h1{
  color:#3498db;
  font-family: 'Audiowide', cursive;
  font-size: 65px;
  z-index: 1; 
  position: absolute;   
}

.soundwave {
  margin: -100px; 
  height: 200px;
  width:350px;
}

/********* D2Jive_index.hbs *************/

.searchbar {
  height: 770px;
  top:0;
  width: 100%; 
  text-align:center;
  background-image: url('index.jpg');
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  box-shadow: 0 4px 0 gray;
  
}

.searchbar form{  
  margin-top: 20%;
}

#searchResults {
  list-style: none;
}

/********* D2Jive_locale_results.hbs *************/

.results_container{
  height: 770px;
  top: 0;
  width: 100%; 
  background-image: url('index.jpg');
  /*background:rgba(0,0,0,.2);*/
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
}

/********* D2Jive_venue_results.hbs *************/

.venueEvents{
  float: right;
}

#overlay {
  /* make the image a bit darker- a module look */
}
ul.polaroids {
  margin-top: 80px;
}

ul.polaroids a:after {
  content: attr(title);
}

ul.polaroids li {
  width: 285px;
  height: 250px;
  border: 1px solid #fff;
  text-align: center;
  margin: 45px 45px 45px 55px;
  background-color: #fff;

}
ul.polaroids img { 
  display: block; 
  margin-bottom: 12px;
  /* add the padding below to emmulate an img being in its place for now */
  padding-top: 170px;
}

ul.polaroids li a {
  font-size: 20px ;
  
}

ul.polaroids li {
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}
 
ul.polaroids li:nth-child(even) {
  transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}
 
ul.polaroids li:nth-child(3n) {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}
 
ul.polaroids li:nth-child(5n) {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px;
}
 
ul.polaroids li:nth-child(8n) {
  position: relative;
  top: 8px;
  right: 5px;
}
 
ul.polaroids li:nth-child(11n) {
  position: relative;
  top: 3px;
  left: -5px;
}

ul.polaroids li:hover {
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

ul.polaroids li {
  transition: -webkit-transform .15s linear;
  -webkit-transition: -webkit-transform .15s linear;
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
 
ul.polaroids li {
  box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

/********* FOOTER.html.erb *************/

.footer {
  position: absolute;
  bottom: 0;
  /*clear: both;*/
}

.footer ul {
  list-style: none;
  margin-bottom: 20px;
}

.footer ul li {
  display: inline-block;
  margin: 0 30px;
  font-size: 20px;

}

/******* ABOUT.html.erb *************/

#our_story p{
  text-indent: 50px;
}


.my_div {
  margin-top: 20px; 
}

#my_image {
 border: 1px solid black;
 height: 170px;
 width:180px;
 margin-left: 20px;
}

#about_me {
  
}

/******* TERMS_OF_USE.html.erb *************/

#terms p{

}

#results {
  text-align: center;
}

.venue {
  text-align: center;
}


