<div class="footer small-12 columns">
  <ul>
    <li>D2Jive &copy2014</li> /
    <li><a href="terms_of_use">Terms of Use</a></li> /
    <li><a href="about_us">About Us</a></li>
    <li><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/dc8ff90d5d7d/developers/Powered_By_Yelp_Black.png"></li>
    <li><%= image_tag("sk_logo.jpg", class: "songkick")%></li>
  </ul>
</div>